
#game_section, #email_section{
    background-color: grey;
    padding-top: 100px;
    padding-bottom: 100px;
}
.div_card{
    width:140px;
    padding: 15px;
}

.div_card img{
    width:100%;
    background-color: white;
}

.container_card{
    display:flex;
    justify-content: center;
    text-align: center;
}

.div_players{
    display:flex;
    justify-content: center;
    text-align: center;
}

.button_result{
    width:20%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.common_cards{
    justify-content: center;
    text-align: center;
}



#email_input{
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}